{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error",
        {
            "endOfLine": "auto",
            "printWidth": 80,
            "tabWidth": 2,
            "semi": true,
            "singleQuote": false,
            "react/jsx-props-no-spreading": "off"
        }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "array-callback-return": "off"
},
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  }
}
